.blackBcg{
    background-image:
            url('https://cdn1.savepice.ru/uploads/2021/4/3/0c01f81e7dbfc9d05a56cfd199943d06-full.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}